.masonry-grid {
  column-count: 3;
  column-gap: 10em; /* Abstand zwischen den Spalten */
}

.masonry-item {
  break-inside: avoid;
}

.masonry-item img {
  width: 100%;
  margin-top:5em;
  margin-bottom: 1em;
}

