.btn-quaternary {
  background-color: #7b8b99;
  border: none;
  --bs-btn-active-bg: #52869f;
}

.btn-quaternary:hover {
  background-color: #52869f;
}

//links
.text-secondary {
  color: #52869f;
  text-decoration: underline;
}

.text-secondary:hover {
  color: #a4c3d0 !important;
}

//Download
.btn-info {
  border: none;
  background: #a4c3d0;
  --bs-btn-active-bg: #52869f;
}

.btn-info:hover {
  background: #52869f;
}

// Button bei Detailseite
.btn-success {
  background: #a4c3d0;
  border: none;
  --bs-btn-active-bg: #52869f;
}

.btn-success:hover {
  background: #52869f;
}


//Sortierfunktion

#c54 .news {
  background: #e7e9ec;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-sort {
  background: #e7e9ec;
  color: black;
  border: none;
  padding: 12px;
  width: 100%;
}

.primary-sort.active {
  color:white;
  background-color: #52869f;
  border-radius: 20px;
}

@media (max-width: 768px) {
  #c54 .news {
    flex-direction: column; /* Kategorien untereinander anordnen */
  }

  .primary-sort {
    width: 100%;
    margin: 5px 0;
  }
}




.btn-primary{
 color:white;
}
.btn-primary:hover{
  color:white;
  background-color: #52869f;
  --bs-btn-active-bg: #52869f;
  --bs-btn-active-color: white;
}

.mein-btn-read-more {
  text-decoration: underline;
  color: #7b8b99;
}


.btn-outline-primary {
  background-color: #7b8b99;
  color:white;
  --bs-btn-color: #7b8b99;
  --bs-btn-border-color: #7b8b99;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #52869f;
  --bs-btn-hover-border-color: #52869f;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #52869f;
  --bs-btn-active-border-color: #52869f;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #7b8b99;
  --bs-btn-disabled-bg: none;
  --bs-btn-disabled-border-color: #7b8b99;
  --bs-gradient: none;
}





.swiper-button-next, .swiper-button-prev{
  color: #7b8b99 !important;
}







