.btn-quaternary{
  background-color: #7b8b99;
  border: none;
}

.btn-quaternary:hover{
  background-color: #52869f;
}

//links
.text-secondary{
  color: #52869f;
  text-decoration: underline;
}

.text-secondary:hover{
  color: #a4c3d0 !important;
}

//Download
.btn-info{
  border: none;
  background: #a4c3d0;
}

.btn-info:hover{
  background: #52869f;
}

// Button bei Detailseite
.btn-success{
  background: #a4c3d0;
  border: none;
}
.btn-success:hover{
  background: #52869f;
}


//Sortiefunktion

#c54 .news {
  background: #e7e9ec;
  border-radius: 20px;
}

.primary-sort {
  background: #e7e9ec;
  color: white;
  border: none;
}

.primary-sort.active {
  background-color: #52869f;
  border-radius: 20px;
  padding: 12px;
}



