.card {
  box-shadow: 0 3px 20px rgba(0,0,0,0.160784);
  border: 0;
  .card-title{
    text-align: center;
  }
}

.card-group-element {
  margin-top: 48px;
  position: relative;  // Ermöglicht die Verschiebung der Karten
  top: -72px;          // Lässt die Karte optisch "überstehen"
}


//Cardlook für die News
.news-list-item{
  box-shadow: 0 3px 20px rgba(0,0,0,0.160784);
  border: 0;
  margin-bottom:30px;
  padding: 20px;
}








