.frame-background-quaternary {
  background: #a4c3d0;
  padding-top: 0;

}

.frame-background-primary{
  background-color: #e7e9ec; /* Wähle eine beliebige Hintergrundfarbe */
  border-radius: 15px; /* Definiert die Rundung der Ecken */
  border: solid #a4c3d0 1px;
  padding: 20px; /* Optional: fügt einen inneren Abstand hinzu */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: fügt einen leichten Schatten hinzu */
}

