img[src="/fileadmin/_processed_/5/4/csm_Stift_Icon_45902d9b5d.png"],
img[src="/fileadmin/_processed_/5/4/csm_Stift_Icon_eb79b33dd5.png"],
img[src="/fileadmin/_processed_/d/4/csm_Icon_Videokamera_b47e80945a.png"],
img[src="/fileadmin/_processed_/0/4/csm_Icon_Kamera_e756bec435.png"],
img[src="/fileadmin/_processed_/d/e/csm_Icon_Blatt_522d928608.png"],
img[src="/fileadmin/_processed_/e/c/csm_Icon_Programmieren_b46ec09100.png"] {
  width: 140px;  // Skalieren auf 140 Pixel Breite
  height: auto;  // Seitenverhältnis beibehalten
  display: block;  // Block-Element, um margin:auto zu verwenden
  margin: 0 auto;  // Zentriert das Bild horizontal im Container
  padding: 20px;  // Abstand um das Bild herum
}
