/* Hauptnavigation
//So mittig gefällt mir das Menü doch nicht :)
.navbar-mainnavigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
}


.nav-link-text {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size:20px;
}

 */
//////////
//HEADER//
/////////
#page-header {
  background-color: #7b8b99 !important;

  .nav-link {
    color: white;
  }
}

.navbar-mainnavigation {
  display: flex;
  justify-content: space-evenly;
  width: 100%;  /* Damit die Navigation die ganze Breite ausfüllt */
}

.nav-item {
  padding: 30px;
}


/* Keine Hover-Effekte für Links */
.frame a[class=""]:hover,
.frame a:not([class]):hover,
.frame a[class=""],
.frame a:not([class]),
a {
  color: white;
  text-decoration: none; /* Keine Unterstreichung beim Hover */
}




///////////
//FOOTER//
/////////

.footer-section-content{
  background-color: #7b8b99; /* Helles Blau */
}



///////////
//SPRACHE//
/////////

.language-menu {
  display: flex; /* Legt die Elemente nebeneinander */
  align-items: center; /* Vertikale Zentrierung */
  gap: 10px; /* Abstand zwischen den Elementen */
}

.language-menu div {
  display: flex;
  align-items: center;
}

.language-menu div:not(:last-child)::after {
  content: ''; //Trennstrich
  display: block;
  width: 1px;
  height: 20px;
  background-color: white;
  margin-left: 10px; //Abstand zwischen Flagge und Strich
}



///////////
////SM////
/////////

//Soziale Medien Verlinkungen
.footer-sociallinks .social-links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 20px;
}

.footer-sociallinks .social-icon img {
  width: 36px;
  height: 36px;
}




///////////
////CR////
/////////
//Copyright
.footer-copyright {
  align-self: flex-end;
  margin-bottom: 20px;
  text-align: right;
  font-size: 14px;
}

.frame-inner-footer {
  display: flex;
  justify-content: space-between;
  width: 60%;

}

.footer-item {
  font-size: 18px;
  display: inline-block;
}

/* Standard-Styling */
.footer-item {
  display: inline-block; /* Standardmäßig nebeneinander */
  font-size: 16px; /* Standard-Schriftgröße */
  margin: 10px; /* Abstand */
}

/* Für kleine Bildschirme unter 480px */
@media (max-width: 480px) {
  .frame-inner-footer {
    display: flex; /* Flexbox-Layout */
    flex-direction: column; /* Untereinander anordnen */
    align-items: center; /* Zentrieren, falls nötig */
  }

  .footer-item {
    font-size: 12px; /* Kleinere Schriftgröße */
    margin: 5px 0; /* Vertikaler Abstand */
    width: 100%; /* Optionale Breite */
    text-align: center; /* Zentrierter Text */
  }
}










