//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import"card";
@import"frame";
@import "loadingBar";



#page-header {
  background-color: #7b8b99 !important;
  .nav-link{
    color: white;
  }
}

.btn-quaternary{
  background-color: #7b8b99;
  border:0;
}

.footer-section-meta{
  background-color: #7b8b99;
}




//FORM//
.form-select{
  width: 45%
}




//HEADER
.navbar-mainnavigation {
  display: flex;
  justify-content: space-evenly; /* Verteilung der Navigationselemente */
  width: 100%;  /* Damit die Navigation die ganze Breite ausfüllt */
}

.nav-item {
  padding: 10px;
}



