//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@import"card";
@import"frame";
@import "loadingBar";
@import "fancybox";
@import"icons";
@import "form";
@import "navigationHeaderFooter";
@import"buttons";





#page-header {
  background-color: #7b8b99 !important;
  .nav-link{
    color: white;
  }
}

.btn-quaternary{
  background-color: #7b8b99;
  border:0;
}

.btn-quaternary:hover{
  background-color: #52869f;
}

.footer-section-meta{
  background-color: #7b8b99;
}




//FORM//
.form-select{
  width: 45%
}








/* Style for the buttons */
.btn-primary-sort {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}



/* Specific style for article links */
.col-md-9.articletype-0 h3 a, .col-md-9.articletype-0 h3 a:hover{
  color: black;
  text-decoration: none;
}

.breadcrumb-section {
  display: none;
}



.mein-btn-read-more {
  text-decoration: underline;
  color: #7b8b99;
}



.short-divider {
  width: 80%; /* Breite des Trennstrichs */
  height: 1px; /* Dicke des Trennstrichs */
  background-color: black; /* Farbe des Trennstrichs */
  border: none; /* Entfernt den Standardrahmen von <hr> */
  margin: 10px auto; /* Zentriert den Strich */
}







